---
import "../styles/global.css";
import Main from "../layouts/main.astro";
---

<style>
    article {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .heading {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto;
        gap: 16px;
        align-items: center;
    }

    h1 {
        margin: 0;
        padding: 0;
    }

    .slogan {
        font-size: 1.25rem;
        font-weight: 400;
        grid-column: 2;
        margin-bottom: 8px;
    }

    .features {
        list-style: none;
        margin: 0;
        padding: 0;
        grid-column: 2;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .feature {
        display: grid;
        align-items: center;
        grid-template-columns: 16px 1fr;
        grid-template-rows: 18px 1fr;
        align-items: flex-start;
        column-gap: 8px;
        row-gap: 4px;
        font-size: 15px;

        & p {
            grid-column: 2;
            margin: 0;
            font-size: 13px;
            align-self: flex-start;
        }
    }

    .support {
        grid-column: 2;
        display: flex;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
        font-size: 14px;
    }

    .browser-list {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .browser-icon {
        width: 22px;
        height: 22px;
        display: block;
    }

    .screenshot {
        height: 400px;
        aspect-ratio: 16 / 9;
        background-color: #eee;
    }
</style>

<Main>
    <article>
        <div class="heading">
            <img src="/shelf-icon.png" alt="Shelf Logo" width="48" height="48" />
            <h1>Shelf</h1>
            <span class="slogan">A new home for your bookmarks</span>
            <ul class="features">
                <li class="feature">
                    <img width="18" height="18" src="/icons/server.svg" />
                    <span>Self-hostable</span>
                    <p>You can deploy own instance on Railway with just one click.</p>
                </li>
                <li class="feature">
                    <img width="18" height="18" src="/icons/import.svg" />
                    <span>Import</span>
                    <p>Gather everything you saved in other services in one place.</p>
                </li>
                <li class="feature">
                    <img width="18" height="18" src="/icons/automatic.svg" />
                    <span>Automatizations</span>
                    <p>Add tag and move to folders based on pre-defined rule.</p>
                </li>
            </ul>

            <div class="support">
                <span>Extensions:</span>
                <div class="browser-list" aria-label="Supported browsers">
                    <img class="browser-icon" src="/icons/browsers/chrome.svg" alt="Google Chrome" />
                    <img class="browser-icon" src="/icons/browsers/firefox.svg" alt="Mozilla Firefox" />
                    <img class="browser-icon" src="/icons/browsers/safari.png" alt="Safari" />
                </div>
            </div>
        </div>


        <div class="screenshot"></div>
    </article>

</Main>
