.DS_Store
.env
.env.local
.env.*.local

node_modules
dist
coverage
*.tsbuildinfo

apps/web/.vite
apps/web/dist
apps/extensions/.wxt
apps/extensions/.output
apps/extensions/safari-web-extension
apps/extensions/safari-extension
