
<style>
    header {
        display: flex;
        gap: 8px;
        align-items: center;
        margin-bottom: 32px;
    }

    h1 {
        font-size: 18px;
    }
</style>
<header>
    <img src="/shelf-icon.png" alt="Shelf Logo" width="32" height="32" />
    <h1>Shelf</h1>
</header>
